Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data',  'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [2]:
df1=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(df1)
print('Loc have the row name')
print(df1.loc['b'])
print('iloc have the integer location and index')
print(df1.iloc[0])

a    1
b    2
c    3
d    4
dtype: int64
Loc have the row name
2
iloc have the integer location and index
1

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.

In [3]:
new_df = df.reindex([3,0,1,2])
print(df)
print(new_df)
print('loc : ' ,new_df.loc[2])
print('iloc : ',new_df.iloc[2])
# yes loc have the row name or index of the row location and iloc have the integer location or the integer position of the row

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4
        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
loc :  course_name    Big Data
duration              6
Name: 2, dtype: object
iloc :  course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [4]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
def test(x):
    return x.mean()
df1.apply(test , axis=0)

column_1    0.443891
column_2    0.459901
column_3    0.535702
column_4    0.425893
column_5    0.511038
column_6    0.398895
dtype: float64

In [5]:
df1['column_2'].std()

0.3748473693425517

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [6]:
string_variable = "datascience"  
df1.loc[1, 'column_2'] = string_variable
mean_column_2 = df1['column_2'].mean()
print(mean_column_2)
# The values in 'column_2' are not numeric, causing an error when calculating the mean.can only concatenate str (not "float") 
# to str

TypeError: can only concatenate str (not "float") to str

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [7]:
# In pandas, window functions are operations that operate on a set of data points defined by a window of fixed size or rolling 
# nature. These functions are especially useful for time-series data and other ordered data sets. 
df4 = pd.DataFrame({'a':[1,2,3,4,5,6,7,8,9]})
# Rolling Windows:
# rolling(): This function is used to provide rolling view of the data. It creates an object that enables rolling window 
# calculations. You can then apply various aggregation functions (like mean, sum, etc.)
print(df4.rolling(window=2).mean())
# expanding(): This function provides expanding window calculations.
print(df4.expanding().sum())
#cumsum()
print(df4.cumsum())

     a
0  NaN
1  1.5
2  2.5
3  3.5
4  4.5
5  5.5
6  6.5
7  7.5
8  8.5
      a
0   1.0
1   3.0
2   6.0
3  10.0
4  15.0
5  21.0
6  28.0
7  36.0
8  45.0
    a
0   1
1   3
2   6
3  10
4  15
5  21
6  28
7  36
8  45

Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [8]:
df = pd.DataFrame({"date":['2022-06-22','2022-06-20','2022-06-19']})
df['update_date'] = pd.to_datetime(df['date'])
df['year'] = df['update_date'].dt.year
df['month'] = df['update_date'].dt.month
df

         date update_date  year  month
0  2022-06-22  2022-06-22  2022      6
1  2022-06-20  2022-06-20  2022      6
2  2022-06-19  2022-06-19  2022      6

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [9]:
time = pd.Timedelta(days =2 , hours = 5 , minutes = 55)
dt = pd.to_datetime('2022-06-20')
dt + time

Timestamp('2022-06-22 05:55:00')

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [10]:
df = pd.read_csv("services.csv")
print(df.head())
df['status'] = pd.Categorical(df['status'], categories=None, ordered=True)
sorted_df = df.sort_values(by=['status'])
print("\nSorted Data:")
print(sorted_df)

   id  location_id  program_id accepted_payments alternate_name  \
0   1            1         NaN               NaN            NaN
1   2            2         NaN               NaN            NaN
2   3            3         NaN               NaN            NaN
3   4            4         NaN               NaN            NaN
4   5            5         NaN               NaN            NaN

                           application_process  \
0                   Walk in or apply by phone.
1           Apply by phone for an appointment.
2  Phone for information (403-4300 Ext. 4322).
3                              Apply by phone.
4                       Phone for information.

                                            audience  \
0  Older adults age 55 or over, ethnic minorities...
1       Residents of San Mateo County age 55 or over
2  Older adults age 55 or over who can benefit fr...
3  Parents, children, families with problems of c...
4  Low-income working families with children tran...

                                         description  \
0  A walk-in center for older adults that provide...
1  Provides training and job placement to eligibl...
2  Offers supportive counseling services to San M...
3  Provides supervised visitation services and a ...
4  Provides fixed 8% short term loans to eligible...

                                         eligibility email  ...  \
0  Age 55 or over for most programs, age 60 or ov...   NaN  ...
1  Age 55 or over, county resident and willing an...   NaN  ...
2        Resident of San Mateo County age 55 or over   NaN  ...
3                                                NaN   NaN  ...
4  Eligibility: Low-income family with legal cust...   NaN  ...

  interpretation_services                                           keywords  \
0                     NaN  ADULT PROTECTION AND CARE SERVICES, Meal Sites...
1                     NaN  EMPLOYMENT/TRAINING SERVICES, Job Development,...
2                     NaN  Geriatric Counseling, Older Adults, Gay, Lesbi...
3                     NaN  INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...
4                     NaN     COMMUNITY SERVICES, Speakers, Automobile Loans

  languages                               name required_documents  \
0       NaN    Fair Oaks Adult Activity Center                NaN
1       NaN   Second Career Employment Program                NaN
2       NaN             Senior Peer Counseling                NaN
3       NaN           Family Visitation Center                NaN
4       NaN  Economic Self-Sufficiency Program                NaN

      service_areas  status wait_time website taxonomy_ids
0             Colma  active  No wait.     NaN          NaN
1  San Mateo County  active   Varies.     NaN          NaN
2  San Mateo County  active   Varies.     NaN          NaN
3  San Mateo County  active  No wait.     NaN          NaN
4  San Mateo County  active       NaN     NaN          NaN

[5 rows x 22 columns]

Sorted Data:
    id  location_id  program_id         accepted_payments  \
0    1            1         NaN                       NaN
18  19           19         NaN                       NaN
17  18           18         NaN                       NaN
16  17           17         NaN                       NaN
15  16           16         NaN                       NaN
14  15           15         NaN                       NaN
13  14           14         NaN                       NaN
12  13           13         NaN                       NaN
21  22           22         NaN  Cash, Check, Credit Card
10  11           11         NaN                       NaN
11  12           12         NaN                       NaN
8    9            9         NaN                       NaN
7    8            8         NaN                       NaN
6    7            7         NaN                       NaN
5    6            6         NaN                       NaN
4    5            5         NaN                       NaN
3    4            4         NaN                       NaN
2    3            3         NaN                       NaN
1    2            2         NaN                       NaN
9   10           10         NaN                       NaN
22  23           22         NaN                       NaN
19  20           20         NaN                       NaN
20  21           21         NaN                       NaN

           alternate_name                                application_process  \
0                     NaN                         Walk in or apply by phone.
18                    NaN     Call for screening appointment (650-347-3648).
17                    NaN  Call for screening appointment. Medical visits...
16                    NaN                              Call for information.
15                    NaN  Walk in. Written application, identification r...
14                    NaN          Walk in or through other agency referral.
13                    NaN  Call for appointment. Referral from human serv...
12                    NaN  Walk in. Proof of California residency require...
21  Fotos para pasaportes                  Walk in or apply by phone or mail
10                    NaN  Walk in. Proof of California residency require...
11                    NaN  Walk in or apply by phone, email or webpage re...
8                     NaN  Walk in. Proof of residency in California requ...
7                     NaN                                    Apply by phone.
6                     NaN  Apply by phone or be referred by a doctor, soc...
5                     NaN  Walk in or apply by phone for membership appli...
4                     NaN                             Phone for information.
3                     NaN                                    Apply by phone.
2                     NaN        Phone for information (403-4300 Ext. 4322).
1                     NaN                 Apply by phone for an appointment.
9                     NaN  Walk in. Proof of California residency to rece...
22                    NaN                  Walk in or apply by phone or mail
19                    NaN                                           Walk in.
20                    NaN                    By phone during business hours.

                                             audience  \
0   Older adults age 55 or over, ethnic minorities...
18                                                NaN
17                                                NaN
16                                                NaN
15                                                NaN
14  Adult alcoholic/drug addictive men and women w...
13  Individuals or families with low or no income ...
12                                                NaN
21  Profit and nonprofit businesses, the public, m...
10                                                NaN
11  Adults, parents, children in 1st-12th grades i...
8      Ethnic minorities, especially Spanish speaking
7   Senior citizens age 60 or over, disabled indiv...
6   Older adults who have memory or sensory loss, ...
5                                             Any age
4   Low-income working families with children tran...
3   Parents, children, families with problems of c...
2   Older adults age 55 or over who can benefit fr...
1        Residents of San Mateo County age 55 or over
9                                                 NaN
22  Second service and nonprofit businesses, the p...
19                                                NaN
20                                                NaN

                                          description  \
0   A walk-in center for older adults that provide...
18  Provides free medical and dental care to those...
17  By appointment only, Project Smile provides a ...
16  Provides emergency food, clothing and furnitur...
15  Provides emergency assistance including food a...
14  Provides a long-term (6-12 month) residential ...
13  Provides food, clothing, bus tokens and shelte...
12  Provides general reading materials, including ...
21  [NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...
10  Provides general reading materials, including ...
11  Offers an intergenerational literacy program f...
8   Provides general reading material, including b...
7   Delivers a hot meal to the home of persons age...
6   Rosener House is a day center for older adults...
5   A multipurpose center offering a wide variety ...
4   Provides fixed 8% short term loans to eligible...
3   Provides supervised visitation services and a ...
2   Offers supportive counseling services to San M...
1   Provides training and job placement to eligibl...
9   Provides general reading and media materials, ...
22  [NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...
19              no unrequired fields for this service
20                                just a test service

                                          eligibility                  email  \
0   Age 55 or over for most programs, age 60 or ov...                    NaN
18    Low-income person without access to health care                    NaN
17    Low-income person without access to health care                    NaN
16                                Low-income families                    NaN
15                      None for emergency assistance                    NaN
14  Age 21-60, detoxed, physically able and willin...                    NaN
13  None for most services. For emergency assistan...                    NaN
12    Resident of California to obtain a library card                    NaN
21                                                NaN  passports@example.org
10  Resident of California to obtain a library car...                    NaN
11  English-speaking adult reading at or below 7th...                    NaN
8     Resident of California to obtain a library card                    NaN
7             Homebound person unable to cook or shop                    NaN
6                                      Age 18 or over                    NaN
5                                                 NaN                    NaN
4   Eligibility: Low-income family with legal cust...                    NaN
3                                                 NaN                    NaN
2         Resident of San Mateo County age 55 or over                    NaN
1   Age 55 or over, county resident and willing an...                    NaN
9             Resident of California to obtain a card                    NaN
22                                                NaN                    NaN
19                                                NaN                    NaN
20                                                NaN                    NaN

    ...                            interpretation_services  \
0   ...                                                NaN
18  ...                                                NaN
17  ...                                                NaN
16  ...                                                NaN
15  ...                                                NaN
14  ...                                                NaN
13  ...                                                NaN
12  ...                                                NaN
21  ...  We offer 3-way interpretation services over th...
10  ...                                                NaN
11  ...                                                NaN
8   ...                                                NaN
7   ...                                                NaN
6   ...                                                NaN
5   ...                                                NaN
4   ...                                                NaN
3   ...                                                NaN
2   ...                                                NaN
1   ...                                                NaN
9   ...                                                NaN
22  ...                                                NaN
19  ...                                                NaN
20  ...                                                NaN

                                             keywords languages  \
0   ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
18  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
17  HEALTH SERVICES, Outpatient Care, Community Cl...       NaN
16  COMMODITY SERVICES, Clothing/Personal Items, C...       NaN
15  COMMODITY SERVICES, Clothing/Personal Items, C...       NaN
14  ALCOHOLISM SERVICES, Residential Care, DRUG AB...       NaN
13  COMMUNITY SERVICES, Interpretation/Translation...       NaN
12  EDUCATION SERVICES, Library, Libraries, Public...       NaN
21                                    Salud, Medicina   Spanish
10  EDUCATION SERVICES, Library, Libraries, Public...       NaN
11  EDUCATION SERVICES, Adult, Alternative, Litera...       NaN
8   EDUCATION SERVICES, Library, Libraries, Public...       NaN
7   ADULT PROTECTION AND CARE SERVICES, Meal Sites...       NaN
6   ADULT PROTECTION AND CARE SERVICES, Adult Day ...       NaN
5   ADULT PROTECTION AND CARE SERVICES, In-Home Su...       NaN
4      COMMUNITY SERVICES, Speakers, Automobile Loans       NaN
3   INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...       NaN
2   Geriatric Counseling, Older Adults, Gay, Lesbi...       NaN
1   EMPLOYMENT/TRAINING SERVICES, Job Development,...       NaN
9   EDUCATION SERVICES, Library, Libraries, Public...       NaN
22         Ruby on Rails/Postgres/Redis, testing, wic       NaN
19                                                NaN       NaN
20                                                NaN       NaN

                                    name  \
0        Fair Oaks Adult Activity Center
18         San Mateo Free Medical Clinic
17                         Project Smile
16     South San Francisco Citadel Corps
15                       Sunnyvale Corps
14           Adult Rehabilitation Center
13                    Redwood City Corps
12                 Redwood Shores Branch
21                       Passport Photos
10                       Schaberg Branch
11                          Project Read
8                       Fair Oaks Branch
7         Meals on Wheels - South County
6       Rosener House Adult Day Services
5   Little House Recreational Activities
4      Economic Self-Sufficiency Program
3               Family Visitation Center
2                 Senior Peer Counseling
1       Second Career Employment Program
9                           Main Library
22                  Example Service Name
19             Service with blank fields
20       Service for Admin Test Location

                          required_documents  \
0                                        NaN
18                                       NaN
17                                       NaN
16                                       NaN
15                                       NaN
14                                       NaN
13                                       NaN
12                                       NaN
21  Government-issued picture identification
10                                       NaN
11                                       NaN
8                                        NaN
7                                        NaN
6                                        NaN
5                                        NaN
4                                        NaN
3                                        NaN
2                                        NaN
1                                        NaN
9                                        NaN
22                                       NaN
19                                       NaN
20                                       NaN

                            service_areas    status  \
0                                   Colma    active
18                    Belmont, Burlingame    active
17                         East Palo Alto    active
16  Colma, Daly City, South San Francisco    active
15                                    NaN    active
14       Alameda County, San Mateo County    active
13    Belmont, Burlingame, East Palo Alto    active
12                       San Mateo County    active
21       Alameda County, San Mateo County    active
10                       San Mateo County    active
11                              Daly City    active
8                        San Mateo County    active
7                 Belmont, East Palo Alto    active
6     Belmont, Burlingame, East Palo Alto    active
5                        San Mateo County    active
4                        San Mateo County    active
3                        San Mateo County    active
2                        San Mateo County    active
1                        San Mateo County    active
9                        San Mateo County    active
22       San Mateo County, Alameda County    active
19                                    NaN   defunct
20                       San Mateo County  inactive

                                            wait_time                 website  \
0                                            No wait.                     NaN
18                                            Varies.                     NaN
17                                            Varies.                     NaN
16                                                NaN                     NaN
15                                           No wait.                     NaN
14  Varies according to available beds for men and...                     NaN
13                                  Up to 20 minutes.                     NaN
12                                           No wait.                     NaN
21                                No wait to 2 weeks.  http://www.example.com
10                                           No wait.                     NaN
11  Depends on availability of tutors for small gr...                     NaN
8                                            No wait.                     NaN
7                                            No wait.                     NaN
6                                            No wait.                     NaN
5                                            No wait.                     NaN
4                                                 NaN                     NaN
3                                            No wait.                     NaN
2                                             Varies.                     NaN
1                                             Varies.                     NaN
9                                            No wait.                     NaN
22                                 No wait to 2 weeks  http://www.example.com
19                                                NaN                     NaN
20                                                NaN                     NaN

                                taxonomy_ids
0                                        NaN
18                                       NaN
17                                       NaN
16                                       NaN
15                                       NaN
14                                       NaN
13                                       NaN
12                                       NaN
21  105, 108, 108-05, 108-05-01, 111, 111-05
10                                       NaN
11                                       NaN
8                                        NaN
7                                        NaN
6                                        NaN
5                                        NaN
4                                        NaN
3                                        NaN
2                                        NaN
1                                        NaN
9                                        NaN
22                                       NaN
19                                       NaN
20                                       NaN

[23 rows x 22 columns]

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [11]:
df = pd.read_csv('https://gist.githubusercontent.com/denandreychuk/b9aa812f10e4b60368cff69c6384a210/raw/d24f715d9350d674b0b1bf494d82ccdf81de0647/100%2520Sales%2520Records.csv')
print(df.head(2))
df['Order Date'] = pd.to_datetime(df['Order Date'])
pivot_df = df.pivot_table(index='Order Date', columns='Item Type', values='Units Sold', aggfunc='sum', fill_value=0)
pivot_df

                              Region  Country  Item Type Sales Channel  \
0              Australia and Oceania   Tuvalu  Baby Food       Offline
1  Central America and the Caribbean  Grenada     Cereal        Online

  Order Priority Order Date   Order ID  Ship Date  Units Sold  Unit Price  \
0              H  5/28/2010  669165933  6/27/2010        9925      255.28
1              C  8/22/2012  963881480  9/15/2012        2804      205.70

   Unit Cost  Total Revenue  Total Cost  Total Profit
0     159.42      2533654.0  1582243.50     951410.50
1     117.11       576782.8   328376.44     248406.36

Item Type,Baby Food,Beverages,Cereal,Clothes,Cosmetics,Fruits,Household,Meat,Office Supplies,Personal Care,Snacks,Vegetables
Order Date,,,,,,,,,,,,
2010-02-02,0,0,0,2269,0,0,0,0,0,0,0,0
2010-02-06,0,0,0,0,7234,0,0,0,0,0,0,0
2010-05-07,0,0,0,0,0,5822,0,0,0,0,0,0
2010-05-28,9925,0,0,0,0,0,0,0,0,0,0,0
2010-06-30,0,0,0,9905,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-25,0,0,0,0,0,0,0,0,0,0,7327,0
2017-03-11,0,0,0,0,0,0,0,0,0,3015,0,0
2017-05-08,0,0,0,0,0,0,0,0,0,6409,0,0
2017-05-20,0,0,8656,0,0,0,0,0,0,0,0,0
2017-05-22,0,0,0,0,1815,0,0,0,0,0,0,0

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the following
I Prompt the user to enter the file path of the CSV file containing the student data
I Read the CSV file into a Pandas DataFrame
I Calculate the mean, median, and mode of the test scores using Pandas tools
I Display the mean, median, and mode in a table.

In [12]:
df = pd.read_csv('student_data.csv')
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode().values[0]

# Display the results in a table
result_table = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Test Score': [mean_score, median_score, mode_score]
})

print(result_table)

  Statistic  Test Score
0      Mean        83.5
1    Median        85.0
2      Mode        85.0